@charset "UTF-8";

/* Calculadora */


*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(88, 88, 88);
}
main{
    background-color: black;
    width: 303px;
    margin: auto;
    margin-top: 10vh;
    border: 10px solid black;
    border-radius: 10px;

}
section#titulo{
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px;
}
section#visor{
    background-color: rgb(209, 209, 209);
    height: 125px;
    width: 303px;
    text-align: left;
    display: inline-block;
}
section#teclado{
    margin: auto;
    padding: 0px;
    margin-top: 10px;
}
input.button{
    width: 98px;
    height: 70px;
}
input.button:hover{
    width: 98px;
    height: 70px;
    background-color: gray;
}
div#numeros{
    text-align: center;
    padding: 30px;
}
p.visor{
    font-size: 50px;
    background-color: white;
    width: 50px;
    height: 55px;
    display: inline-block;
    padding: 0px;
    color: black;
}
p#mais{
    font-size: 40px;
    background-color: rgb(209, 209, 209);
    width: 50px;
    height: 55px;
    display: inline-block;
    padding: 5px;
}